body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #224957;
  background: url(./assets/albert.jpg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-style {
  text-align: center;
}

.my-style1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: #224957;
  text-align: center;
}
.my-style2 {
  color: #224957;
  text-align: center;
}
