.main-style {
  color: #224957;
  background: url(../../assest/albert.jpg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: luminosity;
}

.login-title {
  color: #224957;
}
.login-description {
  color: #224957;
}
