@import '../../theme/variable';

.wrapper-enquiry {
  background-image: url(/assest/icons/person.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
}
.form-container {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  max-width: 800px;
  border: 1px solid $primary;
}
