.wrapper {
  background-color: #f9f9fb;
}

.card {
  background: #ffffff;
  border: 1px solid #e7e8f2;
  box-sizing: border-box;
  min-height: 500px;
  border-radius: 10px;

  .contact-card {
    background: #41289a;
    border: 1px solid #e7e8f2;
    box-sizing: border-box;
    min-height: 480px;
    min-width: 400px;
    border-radius: 10px;
  }
}
